Flask
gunicorn
yt-dlp
python-dotenv
yt-dlp-youtube-oauth2 @ https://github.com/coletdjnz/yt-dlp-youtube-oauth2/archive/refs/heads/master.zip#sha256=5106a29ed1025873ce2e7b3655df7958b6d2a6bd59754105bd27a3d2c5618131